.member-status-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.member-status {
  margin-bottom: 0;
  position: relative;
}

.sidebar-online-status {
  color: green;
}

.sidebar-offline-status {
  color: #e3b505;
}

.sidebar-offline-status,
.sidebar-online-status {
  font-size: 11px;
  position: absolute;
  z-index: 99;
  bottom: 0;
  left: 12px;
}

.createform {
  display: flex;
  flex-direction: column;
}
.createroom input {
  width: 80%;
  padding: 5px 0;
}

.createform * {
  border-radius: 4px;
}

.createform button {
  background-color: #0d6efd;
  border: #0d6efd;
  color: white;
  padding: 5px 0;
}

.createroom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: full;
  margin: 10px 0px;
}
